.container {
  max-width: 30%;
}

.field {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.field h2 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
.field input[type="text"],
.field input[type="date"],
.field input[type="datetime"],
.field input[type="email"],
.field input[type="number"],
.field input[type="search"],
.field input[type="time"],
.field input[type="url"],
.field input[type="password"],
.field textarea,
.field select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
.field textarea {
  resize: none;
  overflow: hidden;
}
.field input[type="button"],
.field input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.field input[type="button"]:hover,
.field input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

// .field {
//   display: flex;
//   flex-flow: column-reverse;
//   margin-bottom: 1em;
// }
// label,
// input {
//   transition: all 0.2s;
//   touch-action: manipulation;
// }

// input {
//   font-size: 1.5em;
//   border: 0;
//   border-bottom: 1px solid #ccc;
//   font-family: inherit;
//   -webkit-appearance: none;
//   border-radius: 0;
//   padding: 0;
//   cursor: text;
// }

// input:focus {
//   outline: 0;
//   border-bottom: 1px solid #666;
// }

// label {
//   text-transform: uppercase;
//   letter-spacing: 0.05em;
// }

// input:placeholder-shown + label {
//   cursor: text;
//   max-width: 66.66%;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   transform-origin: left bottom;
//   transform: translate(0, 2.125rem) scale(1.5);
// }
// ::-webkit-input-placeholder {
//   opacity: 0;
//   transition: inherit;
// }
// input:focus::-webkit-input-placeholder {
//   opacity: 1;
// }
// input:not(:placeholder-shown) + label,
// input:focus + label {
//   transform: translate(0, 0) scale(1);
//   cursor: pointer;
// }
